{% load static %}
<!doctype html>
<html lang="en">
  <head>
  	<title>QuickScreen dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/admin_table.css' %}" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href='{% static "css/style_admin.css"%}'>
  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
			<div class="p-4 pt-5">
		  	<a href="" class="img logo rounded-circle mb-5" style='background-image: url("{% static "admin.png" %}");'></a>
	        <ul>
	          
	          <li>
	              <a href="/admin_dash/">Dashboard</a>
	          </li>
	          <li>
              <a href="/admin_data/">Candidate Result</a>
	          </li>
	          <li>
              <a href="/admin_license/">License Keys</a>
	          </li>
	        </ul>

	      </div>
    	</nav>

        <!-- Page Content  -->
      <div id="content" class="p-1 p-md-2">
          <div class="container-fluid">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
              <i class="fa fa-bars"></i>
              <span class="sr-only">Toggle Menu</span>
            </button>
          </div>
		<form id = "key_" method = "post" align = 'center'> 
		{% csrf_token %} 
		<div class="label control-label" style="font-size:23px;color:Black;">License Key: &nbsp&nbsp
		<input type='text' style = 'width:250px;background:transparent;margin-bottom:10px;border-radius: 0px;border: 0px;border-bottom: 2px solid black;color:black' name='new_key' placeholder='License Key' oninput="this.value = this.value.replace(/[^\d]/, '')"> &nbsp&nbsp
		<select name="operation" style = 'font-size:20px'>
			<option value="add">Add Key</option>
			<option value="change">Change status of Key</option>
			<option value="delete">Delete Key</option>
			<option value="show">Show Status</option>
		</select>
		<input type='submit' style = 'width:150px;color:white;background-color:black' value='Submit'/>&nbsp&nbsp
		</div>
		</form><br>
		  <form id = "key_file" method = "post" align = 'center'>
		  {% csrf_token %}
		  <div class="label control-label" style="font-size:23px;color:Black;">Upload License Keys File: &nbsp&nbsp
			  <input type="file" id="licensefile" name="licensefile">
			  <input type='submit' style = 'width:100px;color:white;background-color:black' value='Upload'/>
		  </div><br>
		  </form>
		<table class="table table-fill">
		<thead style = 'font-size:20px;'>
			{% for d in data %}
				<th class="text-center">{{ d }}</th>
			{% endfor %}
		</thead>
		<tbody class="table-hover">
			{% for iu, record in data.iterrows %}
				<tr>
					{% for value in record %}
						<td class="text-center">{{ value }}</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
      </div>
		</div>
	<script>
	$(document).ready(function(){
    // Handles file uploading and dataframe preview
    $("form#key_").submit(function (e) {
        e.preventDefault();

        var formData = new FormData(this);

        $.ajax({
            url: 'key_operation/',
            type: 'POST',
            data: formData,
            success: function (data) {
                console.log(data);
				window.location.reload();
				alert(data['result']);
            },
        contentType : false,
        cache : false,
        processData: false
        });
    });
    $("form#key_file").submit(function (e) {
        e.preventDefault();

        var formData = new FormData(this);

        $.ajax({
            url: 'key_file_upload/',
            type: 'POST',
            data: formData,
            success: function (data) {
                console.log(data);
				window.location.reload();
				alert(data['result']);
            },
        contentType : false,
        cache : false,
        processData: false
        });
    });
});

	</script>

    <script src='{% static "js/popper.js"%}'></script>
    <script src='{% static "js/bootstrap.min.js"%}'></script>
    <script src='{% static "js/main.js"%}'></script>
  </body>
</html>