{% load static %}
<!doctype html>
<html lang="en">
  <head>
  	<title>QuickScreen dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		<script src='{%static "canvasjs/canvasjs.min.js"%}'></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href='{% static "css/style_admin.css"%}'>
		<link rel="stylesheet" type="text/css" href="{% static 'css/admin_table.css' %}" />
  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch">
		
			<nav id="sidebar">
			<div class="p-4 pt-5">
		  	<a href="" class="img logo rounded-circle mb-5" style='background-image: url("{% static "admin.png" %}");'></a>
	        <ul>
	          
	          <li>
	              <a href="/admin_dash/">Dashboard</a>
	          </li>
	          <li>
              <a href="/admin_data/">Candidate Result</a>
	          </li>
	          <li>
              <a href="/admin_license/">License Keys</a>
	          </li>
	        </ul>

	      </div>
    	</nav>

        <!-- Page Content  -->
      <div id="content" class="p- p-md-2">
          <div class="container-fluid">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
              <i class="fa fa-bars"></i>
              <span class="sr-only">Toggle Menu</span>
            </button>
          </div>
		  <div class = 'row'>
		  <div class = 'col-md-5' id="chartContainer" style="height: 250px;"></div>
			<div class = 'col-md-6' id="chartContainer1" style="height: 250px;"></div>
		  </div>
		  <div class = 'row'><br></div>
		  <div class = 'row'>
		  <div class = 'col-md-5' id="chartContainer3" style="height: 250px;"></div>
			<div class = 'col-md-6' id="chartContainer2" style="height: 250px;"></div>
		  </div>
		</div>
		</div>
	<script>
		window.onload = function() {

		var chart = new CanvasJS.Chart("chartContainer", {
			animationEnabled: true,
			title: {
				text: "Number of candidates appeared in hackathon"
			},
			data: [{
				type: "pie",
				startAngle: 240,
				yValueFormatString: "##0.00\"%\"",
				indexLabel: "{label} {y}",
				dataPoints: [
					{y: {{data_num.0}}, label: "Python"},
					{y: {{data_num.1}}, label: "NodeJS"},
					{y: {{data_num.2}}, label: "Linux"}
				]
			}]
		});
		var chart1 = new CanvasJS.Chart("chartContainer1", {
			animationEnabled: true,
			theme: "light2", // "light1", "light2", "dark1", "dark2"
			title:{
				text: "Average score as per Subjects"
			},
			axisY: {
				title: "Average Score"
			},
			data: [{        
				type: "column",
				dataPoints:[
					{y: {{data_score.0}}, label: "Python"},
					{y: {{data_score.1}}, label: "NodeJS"},
					{y: {{data_score.2}}, label: "Linux"}
				]
			}]
		});
		var chart2 = new CanvasJS.Chart("chartContainer2", {
			animationEnabled: true,
			title: {
				text: "Avg number of Attempts require to generate hash"
			},
			data: [{
				type: "bar",
				dataPoints: [
					{y: {{data_attempt.0}}, label: "Python"},
					{y: {{data_attempt.1}}, label: "NodeJS"},
					{y: {{data_attempt.2}}, label: "Linux"}
				]
			}]
			
		});
		var chart3 = new CanvasJS.Chart("chartContainer3", {
			animationEnabled: true,
			title: {
				text: "Pass/fail rate in hackathon"
			},
			data: [{
				type: "doughnut",
				startAngle: 60,
				//innerRadius: 60,
				indexLabelFontSize: 17,
				indexLabel: "{label} - #percent%",
				toolTipContent: "<b>{label}:</b> {y} (#percent%)",
				dataPoints: [
					{y: {{data_pass.0}}, label: "Pass"},
					{y: {{data_pass.1}}, label: "Fail"}
				]
			}]
		});
		chart.render();
		chart1.render();
		chart2.render();
		chart3.render();

		}
		</script>

    <script src='{% static "js/jquery.min.js"%}'></script>
    <script src='{% static "js/popper.js"%}'></script>
    <script src='{% static "js/bootstrap.min.js"%}'></script>
    <script src='{% static "js/main.js"%}'></script>
  </body>
</html>