{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fluid AI Hackathon</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
	
	</script>
	
</head>
<body>
	<div class = 'r1' style = 'background-color:rgba(0,0,0,0.6);color:white;margin-bottom:0px'>
		<form id = "add_key" method = "post"> 
		{% csrf_token %} 
		<f class="label control-label" style="font-size:23px;color:white;">Add New License Key: &nbsp&nbsp
		<input type='text' style = 'width:250px;background:transparent;margin-bottom:10px;border-radius: 0px;border: 0px;border-bottom: 2px solid white;color:white' name='new_key' placeholder='License Key' oninput="this.value = this.value.replace(/[^\d]/, '')"> &nbsp&nbsp
		<input type='submit' style = 'width:80px;color:white;background-color:black' value='Add'/>&nbsp&nbsp</f>
		</form>
		
	</div>
	<div class = 'r'>
	<table class="table table-striped table-dark table-hover">
		<thead style = 'font-size:20px;'>
		<tr>
			{% for d in data %}
				<th>{{ d }}</th>
			{% endfor %}</tr>
		</thead>
		<tbody>
			{% for _, record in data.iterrows %}
				<tr>
					{% for value in record %}
						<td>{{ value }}</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
	</div>
	<script>
	$(document).ready(function(){
    // Handles file uploading and dataframe preview
    $("form#add_key").submit(function (e) {
        e.preventDefault();

        var formData = new FormData(this);

        $.ajax({
            url: 'add_key/',
            type: 'POST',
            data: formData,
            success: function (data) {
                console.log(data);
				alert(data['insert_result']);
            },
        contentType : false,
        cache : false,
        processData: false
        });
    });
});

	</script>
</body>
</html>